$backdropColor: rgba(0, 0, 0, 0.7);
$backgroundColor: #fff;
$accentColor: #2f68fe;
$accnetColorFocused: #1f4ab5;
$dangerColor: #cc3300;
$dangerColorFocused: #b50000;
$borderColor: #f0f0f0;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdropColor;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 8px;
  background-color: $backgroundColor;

  input {
    display: block;
    width: 100%;
    padding: 0.75em;
    border: 1px solid $borderColor;
    border-radius: 8px;
  }
  button {
    width: 100%;
    padding: 0.5em 1em;
    border: 1px solid $borderColor;
    border-radius: 12px;
    background-color: $backgroundColor;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $borderColor;
    }
  }
  a {
    text-decoration: none;
    color: $accentColor;

    &:hover,
    &:focus {
      color: $accnetColorFocused;
    }
  }
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.passwordLabels {
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.actionButton {
  background-color: $accentColor !important;
  color: white;
  border: 1px solid $accentColor !important;

  &:hover,
  &:focus {
    background-color: $accnetColorFocused !important;
  }
}
.dangerButton {
  background-color: $dangerColor !important;
  color: white;
  border: 1px solid $dangerColor !important;

  &:hover,
  &:focus {
    background-color: $dangerColorFocused !important;
  }
}

.switchActions {
  text-decoration: none;
}
