* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html * {
  margin: 0;
  padding: 0;
}

#domElem {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

#canvasElem {
  z-index: 5;
  position: absolute;
  inset: 0;
  pointer-events: none;
  touch-action: none;
}
